div.box {
  width: 350px;
  height: 50px;
  background: blue;
  border-bottom: 10px solid black;
}

div + div {
  margin-top: 50px;
}

div#content-box {
  box-sizing: content-box;
}

div#border-box {
  box-sizing: border-box;
}